.register-form {
    margin-top: 300px;
    width: 400px;
    height: 300px;
    border-radius: 25px;
    background-color: #1976d2;
    display: block;
    margin-top: 50px;
}

.form {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.mat-form-field {
    margin-top: 25px;
}

.mat-stroked-button {
    border: 1px solid white;
    color: white;
}

.register-button{
    margin-top: 15px;
}

.username-label {
    margin-top: 40px;
}