.AerobicTrainings {}

.Header {
    display: flex;
    justify-content: center;
}

h2 
{
    text-align: center;
    display: block; /* This is the default for h2 elements */
    margin: 0 auto; /* Auto left and right margins center the block */
    width: fit-content; /* Adjusts the width to fit its content */
}