.Header {
    flex-grow: 1; 
    text-align: center; 
}

.ExportButton {
    margin-left: auto;
    margin-right: 10px;
  }

h2 
{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: fit-content; 
    margin-bottom: 1rem;
}

.IconsSize {
    font-size: 1.5em;
}

.circularButton {
    border: 2px solid #1976d2;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modalStyle{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  background-color: white;
  padding: 20px;
  box-shadow: 24px;
  border-radius: 8px;
}

.customCell {
   height: 1em;
}

.HeaderContainer {
    display: flex;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .tooltip-error {
    position: absolute;
    bottom: 100%; /* Show above the input */
    left: 0;
    background-color: #f44336;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    margin-bottom: 4px;
    z-index: 10;
  }
  
  .tooltip-error::after {
    content: '';
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f44336 transparent transparent transparent;
  }
  