<p>aerobic-trainings works!</p>

<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data">
  
      <ng-container matColumnDef="activityType">
        <th mat-header-cell *matHeaderCellDef> activityType </th>
        <td mat-cell *matCellDef="let element"> {{element.activityType}} </td>
      </ng-container>

      <ng-container matColumnDef="activityDurationMinutes">
        <th mat-header-cell *matHeaderCellDef> activityDurationMinutes </th>
        <td mat-cell *matCellDef="let element"> {{element.activityDurationMinutes}} </td>
      </ng-container>

      <ng-container matColumnDef="calorieBurnt">
        <th mat-header-cell *matHeaderCellDef> calorieBurnt </th>
        <td mat-cell *matCellDef="let element"> {{element.calorieBurnt}} </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->

    <div style="width: 500px;">
        <thead>
            <tr>
                <td>activityType</td>
                <td>activityDurationMinutes</td>
                <td>calorieBurnt</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let training of data">
                <td>{{training.activityType}}</td>
                <td>{{training.activityDurationMinutes}}</td>
                <td>{{training.calorieBurnt}}</td>
            </tr>
        </tbody>
    </div>

    <p> {{ data }}</p>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator> -->