.StrengthTrainings {}

.IconsSize {
    font-size: 1.5em;
}

.circularButton {
    border: 2px solid #1976d2; /* Black border */
    border-radius: 50%; /* Circular shape */
    width: 56px; /* Set width */
    height: 56px; /* Set height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modalStyle{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  background-color: white;
  padding: 20px;
  box-shadow: 24px;
  border-radius: 8px;
}

.Header {
    flex-grow: 1; 
    text-align: center; 
    
}

.ExportButton {
    margin-left: auto;
    margin-right: 10px;
  }

  .HeaderContainer {
    display: flex;
}